@import "tailwindcss";

@theme {
  --color-accent: #556B2F;
  --font-sans: 'Inter', sans-serif;
}

@layer base {
  body {
    @apply font-sans antialiased text-gray-900 bg-white;
  }
}
@layer utilities {
  @keyframes slide-up {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .animate-slide-up {
    animation: slide-up 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  }
}
